:root {
	--darkGray: #101828;
	--lightGray: #eaecf0;
	--lightGrayHover: #d0d5dd;
	--gray500: #667085;
	--contactText: #475467;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

/* PROFILE BEGINS */

.profileContainer {
	padding: 2rem 1rem;
}
.profileDetails {
	position: relative;
	display: flex;
	justify-content: center;
	margin-bottom: 2.5rem;
}
.profileDetail {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1rem;
}
.profileImageContainer {
	height: 88px;
	width: 88px;
	margin-bottom: 0.8rem;
}
.profileImage {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
}
.profileUsername,
.profileUsername2 {
	font-weight: 700;
	font-size: 1.2rem;
}
.profileUsername2 {
	margin-top: 0.5rem;
	display: none;
}
.menuButton {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}
.menuButton img {
	height: 35px;
}
.menuButtonMobile {
	display: flex;
}
.shareButton {
	display: none;
}
.profileButton {
	padding: 24px 32px;
	border-radius: 10px;
	outline: 0;
	border: 0;
	width: 100%;
	text-decoration: none;
	color: var(--darkGray);
	font-weight: 600;
	cursor: pointer;
	background-color: var(--lightGray);
	transition: all 0.3s ease;
}
.profileButton:hover {
	background-color: var(--lightGrayHover);
}
.profileButtonContainer {
	margin-bottom: 1rem;
}
.socialLinks {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 4rem;
	display: none;
}
.socialLinks img {
	margin: 0 1rem;
}

/* PROFILE ENDS */

/* FOOTER BEGINS */
.footerContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	padding-top: 1.5rem;
	border-top: 1px solid var(--lightGray);
}
.zuriLogo,
.I4GLogo {
	height: 15px;
}
.footerDesc {
	font-size: 60%;
	color: var(--gray500);
}

/* FOOTER ENDS */

/* CONTACT BEGINS */
.contactPage {
	width: 100%;
	margin: 0 auto;
}
.contactForm {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
}
.contactFormContainer {
	width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
}

.contactForm h2 {
	font-weight: 600;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
	color: #101828;
}

.contactDesc {
	margin-bottom: 2rem;
	color: var(--contactText);
	font-size: 70%;
	word-spacing: -1px;
}

.formContainer {
	width: 100%;
}
.firstInputContainer {
	display: flex;
	flex-direction: column;
}

.firstInputContainer .inputGroup:first-child {
	margin-bottom: 1rem;
}

.firstInputContainer .inputGroup {
	width: 100%;
}
.firstInputContainer,
.InputContainer,
.messageInputContainer {
	margin-bottom: 1rem;
}

.checkBoxContainer {
	display: flex;
	align-items: flex-start;
	margin-bottom: 2rem;
}

.checkBoxLabel {
	font-size: 70%;
	line-height: 1.5;
	color: #475467;
	margin-left: 0.5rem;
	word-spacing: -1px;
}

.contactButton {
	background: #1570ef;
	border: 1px solid #1570ef;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	padding: 12px 20px;
	width: 100%;
	font-weight: 600;
	color: #fff;
	font-size: 80%;
	cursor: pointer;
}
.contactButtonDisabled {
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	padding: 12px 20px;
	width: 100%;
	font-weight: 600;
	color: #fff;
	font-size: 80%;
	cursor: pointer;
	background: #b2ddff;
	border: 1px solid #b2ddff;
}

.footer {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1rem;
	background-color: #fff;
}

/* CONTACT ENDS */

/* INPUT STARTS */
.inputGroup,
.messageInputContainer {
	display: flex;
	flex-direction: column;
}
.inputGroup label,
.messageLabel {
	font-size: 65%;
	font-weight: 500;
	margin-bottom: 5px;
	color: #344054;
}

.inputGroup input,
.messageInput {
	font-size: 70%;
	padding: 10px 14px;
	border-radius: 8px;
	background: transparent;
	outline: none;
	font-weight: 400;
	margin-bottom: 5px;
	color: #344054;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill{
    -webkit-text-fill-color: #344054 !important;
}

.errorInput {
	border: 1px solid red;
}
.noErrorInput {
	border: 1px solid #d0d5dd;
}

.messageInput {
	width: 100%;
	height: 132px;
}

.errorClass {
	font-size: 65%;
	color: red;
}

.successMessage{
	font-size: 80%;
	margin-bottom: 1rem;
	text-align: center;
	padding: 1rem;
	background-color: rgb(5, 219, 5);
	color: #fff;
}

/* INPUT ENDS */

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
	.footerContainer {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.contactFormContainer {
		width: 80%;
		margin: 0 auto;
	}
	.checkBoxContainer {
		display: flex;
		align-items: center;
	}
}

@media screen and (min-width: 1024px) {
	.profileContainer {
		padding: 3rem;
		max-width: 1000px;
		margin: 0 auto;
	}
	.profileLinks {
		margin-bottom: 2rem;
	}
	.menuButtonMobile {
		display: none;
	}
	.shareButton {
		display: flex;
	}
	.menuButton {
		position: absolute;
		top: 0;
		right: 25%;
	}
	.socialLinks {
		display: flex;
	}
	.zuriLogo,
	.I4GLogo {
		height: 25px;
	}
	.footerDesc {
		font-size: 70%;
	}
	.contactPage {
		max-width: 1200px;
		margin: 0 auto;
	}
	.contactFormContainer {
		width: 60%;
		margin: 0 auto;
	}
	.contactForm h2 {
		font-size: 1.4rem;
	}
	.contactDesc {
		font-size: 80%;
	}
	.firstInputContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 2rem;
	}
	.firstInputContainer .inputGroup:first-child {
		margin-bottom: 0;
	}
	.checkBoxLabel {
		font-size: 80%;
	}
	.contactButton {
		font-size: 90%;
	}
	.footer {
		padding: 1rem 4rem;
	}
	.inputGroup label,
	.messageLabel {
		font-size: 75%;
	}
	.inputGroup input,
	.messageInput {
		font-size: 80%;
	}
}
